body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('img/bg4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

header {
    background-color: rgb(97, 70, 97);
}

.navbar {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.navbar li {
    position: relative;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
    font-size: 20px;
}

.navbar a:hover {
    background-color: #575757;
}

.logo {
    margin-right: 10px;
    width: 190px;
    padding-left: 20px;
    padding-top: 20px;
    height: 100px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 200px;
    z-index: 1;
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu li {
    border-bottom: 1px solid #3b1e44;
}

.dropdown-menu li a {
    padding: 10px 15px;
}

.dropdown-menu li a:hover {
    background-color: #7a2d8e;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.container {
    padding: 20px 50px 20px 50px;
    background-color: ghostwhite;
    margin: 20px;
    border-radius: 10px;
}
.container h3{
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 3px black solid;

}

.container p {
    font-size: 1em;
    margin: 20px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 2em;
}

.container img {
    max-width: 100%;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar a {
        padding: 10px 15px;
    }
}

.image-section {
    flex: 1;
    min-width: 300px;
    padding: 20px;
    text-align: center;
}

.image-section img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    animation: slideInLeft 4s ease-out;
    align-items: end;
    opacity: 0;
    animation: fadeIn 3s forwards ;
    box-shadow: 0 0 5px red,
    0 0 25px red;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.text-section {
    flex: 1;
    min-width: 300px;
    padding: 20px;
}
.text-section p{
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px 10px 10px 10px;
    text-align: left;
    line-height: 2em;
    
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.services {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
    padding: 20px;
    background-color: #f9f9f9;
}

.service-item {
    text-align: center;
    margin: 10px;
}

.service-item img {
    width: 350px;
    border-radius: 10px;
    filter: grayscale(100%);
    transition: transform 0.3s ease, filter 0.3s ease;
    transition: transform 0.3s ease;
}

.service-item img:hover {
    transform: scale(1.1);
    filter: grayscale(0%);
}

.service-item h4 {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
}

.Connect{
    background-color: #000;
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

footer {
    background-color: rgb(97, 70, 97); ;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

.footer-section h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
    line-height: 2.5em;
}

.footer-bottom {
    margin-top: 20px;
    border-top: 1px solid #444;
    padding-top: 10px;
    
}

.footer-bottom p {
    margin: 5px 0;
    
}
